/* StageDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

  button:hover {
    background-color: #cfd8dc;
  }

  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45em;
  height: 25em;
}

a {
  background-color: #3f525c;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  position:absolute;
  bottom:0;
  left:0;
}

/* Rajouter pour réduire la taille du bouton*/
/*
@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}
*/

a:hover {
  background-color: #000;
}

h2 {
  text-align: center;
}
