<html>
<nav>
  <a routerLink="/dashboard">Title screen</a>
</nav>
<h2>Characters</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.nom}} {{hero.licence}}
    </a>
    <button type="button" class="delete" title="delete hero"
            (click)="delete(hero)">
      x
    </button>
  </li>
</ul>
<div>
  <label for="new-hero">Character name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''"> Add character </button>
  <button type="button" class="add-button" (click)="deleteteam();">  Delete Previous Team </button>
</div>
<marquee>READY ?</marquee>
</html>
